<section class="FirstView">
    <div class="container">
        <h2>Potepan Shareで<br>
        まだ体験したことのない<br>
        旅をしよう
        </h2>
        <form>
            <input type="text" placeholder="エリア名を入力">
            <input type="submit">
        </form>
    </div>
</section>
<section>
    <div class="container">
        <h3>おすすめのエリア</h3>
        <div class="recommend-imgs">
            <%= link_to image_tag("recommend-area/tokyo.jpg",  size: "300x400", alt: "東京イメージ画像"), users_path %>
            <%= link_to image_tag("recommend-area/tokyo.jpg",  size: "300x400", alt: "東京イメージ画像"), users_path %>
            <%= link_to image_tag("recommend-area/tokyo.jpg",  size: "300x400", alt: "東京イメージ画像"), users_path %>
            <%= link_to image_tag("recommend-area/tokyo.jpg",  size: "300x400", alt: "東京イメージ画像"), users_path %>
        </div>
    </div>
</section>