<h2>プロフィール</h2>
<hr />
<p>
    <strong>画像</strong>
    <%= image_tag  "#{@user_image}" %>
</p>
<p>
    <strong>ユーザー名</strong>
    <%= @user.name %>
</p>
<p>
    <strong>自己紹介</strong>
    <%= @user.introduction %>
</p>
<p>
    <%= link_to "編集", profile_edit_users_path(@user) %>
</p>