.search_area{
    background-color: #dfe2e6;
}
.search_area form{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
.search_area input{
    width: 30%;
    height: 40px;
}
.search_area input[type="submit"]{
    width: 10%;
}
// -------------------------------------
.room_detail{
    width: 80%;
    margin: 0 auto;
}
.warapper_room_info{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.room_data tr th{
    text-align: left;
    padding-right: 15px;
}
.warapper_room_info>div:nth-child(2){
    margin-left: 20px;
    background-color: #fff8f1;
    padding: 30px;
}
.reservation{
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
}
.reservation form .btn_reservation input,.reservation form .btn_reservation{
    background-color: #ff7757;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    border: none;
    margin: 0;
}
.reservation form .btn_reservation{
    margin-top: 15px;
}
.reservation form .btn_reservation a{
    color: #fff;
    display: block;
    text-align: center;
}
// -------------------------------------
.room_new{
    width: 40%;
    margin: 0 auto;
}
.room_new form{
    width: 100%;
    padding: 20px;
}
.room_new form .btn_room_new input{
    width: 470px;
    padding: 10px;
    margin-top: 20px;
}
.room_new form .btn_room_new a{
    display: block;
    width: 470px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid;
    margin: 10px 0 50px 0;
}
.room_new form table input{
    width: 400px;
    height: 25px;
    margin-bottom: 5px;
}
.room_new form table textarea{
    width: 400px;
    height: 100px;
}
// -------------------------------------
.room_list, .reservation_list, .room_create_list{
    width: 80%;
    margin: 0 auto;
}
.room_list table, .reservation_list table, .room_create_list table{
    width: 100%;
    border-collapse: collapse;
}
.room_list table th, .reservation_list table th, .room_create_list table th{
    text-align: left;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
.room_list table td, .reservation_list table td, .room_create_list table td{
    border-bottom: 1px solid #bdbdbd;
    padding-top: 10px;
}